<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moment 1 - DT207G</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <header>
        <ul>
            <li><a href="/">STARTSIDA</a></li>
            <li><a href="/create">LÄGG TILL KURS</a></li>
            <li><a href="/aboutsite">OM DENNA WEBBPLATS</a></li>
        </ul>
    </header>
    <h1>Om webbplatsen</h1>
<main>
    <article>
    <p>Denna webbplatsen är skapad för att tillåta användare att lagra och visa kuser de läst. Syftet med denna uppgift var att:<br><br>
    <li>Förstå serverbaserad webbutveckling</li>
    <li>Förstå hur man ansluter till en relationsbaserad databasserver med NodeJs och Express</li>
    <li>Kunna presentera data från en databas med hjälp av NodeJs, Express samt en "view engine"</li>
    <li>Läsa in data från formulär, spara, uppdatera och radera data som lagras i en databas</li>
    <li>Kunna använda några vanliga SQL-kommandon såsom SELECT, INSERT, UPDATE och DELETE</li></p><br>
    <p>På denna webbplats kan man lägga till kurser, som sedan sparas på startsidan. Väl på startsidan kan man välja att antingen radera
    eller ändra kursinformationen. Vill man ändra kursinformationen, skickas man till formuläret, gör sina ändringar och sparar. Därefter syns ändringarna
     på startsidan. Vill man radera kursen, klickar man på radera.<br><br>
     I denna uppgift har databasen SQLite används.<br>
     Uppgiften har varit rolig, lärorik men även utmanande. Efter att ha fått koda en del med NodeJs och Express så ser jag fram emot liknande uppgifter, så att man kan bli 
     ännu vassare på serverbaserad webbutveckling.
     </p>
    </article>

</main>
    <footer>
        <p>Moment 1 - DT207G<br>
        Av Julie Andersson</p>
    </footer>
</body>
</html>