<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moment 1 - DT207G</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <header>
        <ul>
            <li><a href="/">Startsida</a></li>
            <li><a href="/create">Lägg till kurs</a></li>
            <li><a href="/aboutsite">Om denna webbplats</a></li>
        </ul>
    </header>

    <p>
        Ändra din kursinformation:
    </p>

    <form method="post">
        <!--Felmeddelande om fält saknas-->
        <% if(error.length > 0) { %>
            <ul>
                <% error.forEach((error) => { %>
                    <li>
                        <%= error %>
                    </li>
                <% }); %>
            </ul>
        <% } %>        

        <label for="coursecode">Kurskod:</label>
        <input type="text" id="coursecode" name="coursecode" value="<%= row.coursecode %>">

        <label for="coursename">Kursnamn:</label>
        <input type="text" id="coursename" name="coursename" value="<%= row.coursename %>">

        <label for="syllabus">Länk till kursplan:</label>
        <input type="text" id="syllabus" name="syllabus" value="<%= row.syllabus %>">

        <label for="progression">Progression:</label>
        <select name="progression" id="progression">
            <option value="">Välj progression</option>
            <option value="A" <% if (row && row.progression === 'A') { %> selected <% } %>>A</option>
            <option value="B" <% if (row && row.progression === 'B') { %> selected <% } %>>B</option>
            <option value="C" <% if (row && row.progression === 'C') { %> selected <% } %>>C</option>
        </select>

        <input type="submit" value="Spara ändringar">

        
    </form>
</body>
</html>